body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .course-list {
    
    flex-wrap: wrap;
  }
  
  .course-box {
    display: flex;
    flex: 0 0 40%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }